/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
#resume {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #resume h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  #resume p {
    margin-bottom: 10px;
  }
  #Skills{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  } 
  
  .Skills {
    width: 100%;
    min-height: 250vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px 100px;
    overflow: visible;
    background: rgb(177, 206, 211);
  }
  
  .box {
    position: relative;
    width: 240px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(#ffffff, #a1b0b8, #bac8cf);
    filter: blur(1px);
    z-index: 1;
  }
  
  .box::after {
    content: '';
    position: absolute;
    top: 1px;
    right: -1px;
    width: 20px;
    height: 100%;
    background: #9d9d9d;
    filter: blur(1px);
    z-index: 1;
  }
  
  .box .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #9a2d2d;
  }
  
  .box .shadow::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(100% + 5px);
    width: 100%;
    height: 200%;
    background: linear-gradient(rgba(0,0,0,0.075), transparent);
    transform: skewX(45deg);
  }
  
  .box .shadow::after {
    content: '';
    position: absolute;
    bottom: -200%;
    left: calc(100% + 15px);
    width: 100%;
    height: 200%;
    background: linear-gradient(rgba(79, 232, 243, 0.075), transparent);
    transform: skewX(45deg);
  }
  /* Projects */

#projects
{
  margin-top: 7vh;
  background-color: rgb(177, 206, 211);
}
.projects-section {
    padding: 20px;
    background-color: #f4f4f4;
}

.projects-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.project-card {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project-card img {
    width: 100%;
    height: auto;
    display: block;
}

.project-info {
    padding: 15px;
}

.project-info h3 {
    margin: 0;
    font-size: 1.5em;
}

.project-info p {
    margin: 10px 0 0;
    color: #555;
}


  /* Skills */
  .box .content {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(#dbdae1, rgb(177, 206, 211));
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1),
      15px 15px 15px rgba(0,0,0,0.1),
      20px 20px 20px rgba(0,0,0,0.1),
      50px 50px 50px rgba(0,0,0,0.1),
      inset 3px 3px 2px #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .box .content .percent {
    position: relative;
    width: 150px;
    height: 150px;
  }
  
  .box .content .percent::before {
    content: attr(data-text);
    position: absolute;
    inset: 5px;
    background: #555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    text-transform: none;
  }
  
  .box .content .percent svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
  }
  
  .box .content .percent svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 3;
    stroke: rgba(0,0,0,0.05);
    transform: translate(5px, 5px);
  }
  
  .box .content .percent svg circle:nth-child(2) {
    stroke: #d41212;
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .box .content .percent .dot {
    position: absolute;
    inset: 5px;
    z-index: 10;
    animation: animateDot 2s linear forwards;
  }
  
  @keyframes animateDot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(calc(3.6deg * var(--num)));
    }
  }
  
  .box .content .percent .dot::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    background: #09353a;
    border-radius: 50%;
  }
  
  .box .content .number {
    position: relative;
    inset: 0;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
  }
  
  .box .content .number h2 {
    font-size: 2.5rem;
    color: #8b0b0b;
  }
  
  .box .content .number h2 span {
    font-weight: 300;
    font-size: 1.5rem;
  }
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
html {
    scroll-behavior: smooth;
}

p {
    color: #555;
}

/* TRANSITION */

a,
.btn {
    transition: color 0.3s ease, background-color 0.3s ease;
}

/* DESKTOP NAV */

.header {
    width: 100%;
    padding: 15px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin: 0 15px;
}

.nav-links {
    list-style: none;
    margin-top: 0;
    font-size: 1.3rem;
}

/* .logo img {
    max-width: 50px;
    height: auto;
} */

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: rgb(96, 145, 204);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(96, 145, 204);
}

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links a:hover {
    color: rgb(96, 145, 204);
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:nth-child(1),
.hamburger-icon span:nth-child(2),
.hamburger-icon span:nth-child(3) {
    transform: none;
}

/* SECTIONS */

main {
    margin-top: 60px;
}

section {
    padding-top: 4vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 85vh;
}

.section_pic_container {
    display: flex;
    height: 475px;
    width: 475px;
    margin: auto 0;
}

.section_text {
    align-self: center;
    text-align: center;
}

.section_text p {
    font-weight: 600;
}

.section_text_p1 {
    text-align: center;
}

.section_text_p2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.title_1 {
    font-size: 3rem;
    text-align: center;
}

.btn_container {
    margin-top: 1.5rem;
    text-align: center;
}

.btn_color {
    background: linear-gradient(90deg, #3c6191, #2aa657);
    border: none;
    color: white;
    padding: 1rem 1rem;
    font-weight: 600;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn_color:hover {
    background-color: #4f7ebf;
    transform: scale(1.05);
}
.btn_colors {
    background: linear-gradient(90deg, #871924, #5694c4);
    border: none;
    color: white;
    padding: 1rem 1rem;
    font-weight: 600;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn_colors:hover {
    background-color: #4f7ebf;
    transform: scale(1.05);
}

/* ABOUT SECTION */

#about {
    padding: 4rem 0;
    text-align: center;
}

.title_2 {
    font-size: 2.5rem;
    position: relative;
}

.title_2::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 3.5px;
    background: linear-gradient(90deg, #6091cc, #2d8173);
    border-radius: 1px;
}

.text_container {
    margin: 2rem auto;
}

.text_container p {
    color: #555;
    line-height: 1.6;
    text-align: left;
}

/* PROFICIENCIES SECTION */

#proficiencies {
    padding: 3rem 0;
    text-align: center;
}

.article_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2.5rem;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    text-align: center;
}

article .icon {
    cursor: pointer;
    height: 90px;
    margin-bottom: 1rem;
}

article h3 {
    font-size: 1.5rem;
    color: #333;
}

article p {
    color: #777;
    line-height: 1.5;
    text-align: justify;
}
/* RESET STYLES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --level-1: #8dccad;
    --level-2: #f5cc7f;
    --level-3: #7b9fe0;
    --level-4: #f27c8d;
    --black: black;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ol {
    list-style: none;
  }
  
  body {
    margin: 50px 0 100px;
    text-align: center;
    font-family: "Inter", sans-serif;
  }
  
  .container {
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
  }
  
  .rectangle {
    position: relative;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }
  
  
  /* LEVEL-1 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-1 {
    width: 50%;
    margin: 0 auto 40px;
    background: var(--level-1);
  }
  
  .level-1::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
  }
  
  
  /* LEVEL-2 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-2-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .level-2-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 25%;
    width: 50%;
    height: 2px;
    background: var(--black);
  }
  
  .level-2-wrapper::after {
    display: none;
    content: "";
    position: absolute;
    left: -20px;
    bottom: -20px;
    width: calc(100% + 20px);
    height: 2px;
    background: var(--black);
  }
  
  .level-2-wrapper li {
    position: relative;
  }
  
  .level-2-wrapper > li::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
  }
  
  .level-2 {
    width: 70%;
    margin: 0 auto 40px;
    background: var(--level-2);
  }
  
  .level-2::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
  }
  
  .level-2::after {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    width: 20px;
    height: 2px;
    background: var(--black);
  }
  
  
  /* LEVEL-3 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-3-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    width: 90%;
    margin: 0 auto;
  }
  
  .level-3-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: calc(25% - 5px);
    width: calc(50% + 10px);
    height: 2px;
    background: var(--black);
  }
  
  .level-3-wrapper > li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 2px;
    height: 20px;
    background: var(--black);
  }
  
  .level-3 {
    margin-bottom: 20px;
    background: var(--level-3);
  }
  
  
  /* LEVEL-4 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-4-wrapper {
    position: relative;
    width: 80%;
    margin-left: auto;
  }
  
  .level-4-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: 2px;
    height: calc(100% + 20px);
    background: var(--black);
  }
  
  .level-4-wrapper li + li {
    margin-top: 20px;
  }
  
  .level-4 {
    font-weight: normal;
    background: var(--level-4);
  }
  
  .level-4::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    width: 20px;
    height: 2px;
    background: var(--black);
  }
  
  
  /* MQ STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media screen and (max-width: 700px) {
    .rectangle {
      padding: 20px 10px;
    }
  
    .level-1,
    .level-2 {
      width: 100%;
    }
  
    .level-1 {
      margin-bottom: 20px;
    }
  
    .level-1::before,
    .level-2-wrapper > li::before {
      display: none;
    }
    
    .level-2-wrapper,
    .level-2-wrapper::after,
    .level-2::after {
      display: block;
    }
  
    .level-2-wrapper {
      width: 90%;
      margin-left: 10%;
    }
  
    .level-2-wrapper::before {
      left: -20px;
      width: 2px;
      height: calc(100% + 40px);
    }
  
    .level-2-wrapper > li:not(:first-child) {
      margin-top: 50px;
    }
  }
  @media (max-width: 600px) {
    logo.btn_colors {
      width: 100%;              /* Full width on small screens */
      padding: 15px;            /* Increased padding for easier touch */
      font-size: 18px;          /* Larger font size for readability */
    }
  }
  
  /* Responsive design for tablets */
  @media (min-width: 601px) and (max-width: 900px) {
    logo.btn_colors {
      width: 100%;              /* Full width on tablets */
      padding: 12px;            /* Adjusted padding */
      font-size: 17px;          /* Slightly larger font size */
    }
  }
  
  
  
  /* FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-footer {
    position: fixed;
    right: 0;
    bottom: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
  }
  
  .page-footer a {
    margin-left: 4px;
  }
  

/* PROJECTS SECTION */

#projects {
    padding: 4rem 0;
    text-align: center;
}

.details_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3.5rem;
    margin-top: 2rem;
}

.subdetail_container {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1.5rem;
    max-width: 540px;
    text-align: left;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.subdetail_container:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.project_img {
    max-width: 100%;
    height: auto;
}
#Timeline
{
    *::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    --color: rgba(30, 30, 30);
    --bgColor: rgba(245, 245, 245);
    min-height: 100vh;
    display: grid;
    align-content: center;
    gap: 2rem;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
    color: var(--color);
    background: var(--bgColor);
  }
  ul {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
  }
  ul::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: rgb(0, 0, 0);
    border-radius: calc(var(--line-w) / 2);
  }
  
  /* columns*/
  
  /* row gaps */
  ul li:not(:last-child) {
    margin-bottom: var(--row-gap);
  }
  
  /* card */
  ul li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
  }
  ul li .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);
  
    text-align: center;
    background-color: var(--accent-color);
  
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
  
    display: grid;
    place-content: center;
    position: relative;
  
    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
  }
  /* .title_2 
  {
    background: linear-gradient(#6091cc, #8eefc2);
  } */
  
  /* date flap */
  ul li .date::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;
  
    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
  }
  
  /* circle */
  ul li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--bgColor);
    border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;
  
    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  
  /* title descr */
  ul li .title,
  ul li .descr {
    background: white;
    position: relative;
    padding-inline: 1.5rem;
  }
  ul li .title {
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-weight: 500;
  }
  ul li .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
  }
  
  /* shadows */
  ul li .title::before,
  ul li .descr::before {
    content: "";
    position: absolute;
    width: 90%;
    box-shadow: black;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    height: 0.5rem;
    background: rgb(9, 9, 9);
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
  }
  ul li .title::before {
    bottom: calc(100% + 0.125rem);
  }
  
  ul li .descr::before {
    z-index: -1;
    bottom: 0.25rem;
  }
  
  @media (min-width: 40rem) {
    ul {
      grid-template-columns: 1fr var(--line-w) 1fr;
    }
    ul::before {
      grid-column: 2;
    }
    ul li:nth-child(odd) {
      grid-column: 1;
    }
    ul li:nth-child(even) {
      grid-column: 3;
    }
  
    /* start second card */
    ul li:nth-child(2) {
      grid-row: 2/4;
    }
  
    ul li:nth-child(odd) .date::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      left: 0;
    }
  
    ul li:nth-child(odd) .date::after {
      transform: translate(-50%, -50%);
      left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }
    ul li:nth-child(odd) .date {
      border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
    }
  }
  
  .credits {
    margin-top: 1rem;
    text-align: right;
  }
  .credits a {
    color: var(--color);
  }
  
}

/* OTHER PLATFORMS SECTION */

#other-platforms {
    *
            {
                padding: 0;
                margin: 0;
                font-family: 'poppins','sans-serif';
                box-sizing: border-box;
            }
            body
            {
                background-color: #2e364a;
            }
            .timeline
            {
                position: relative;
                max-width: 1200px;
                margin: 100px auto;
            }
            .container
            {
                padding: 10px 50px;
                position:relative;
                width: 50%;
                animation: movedown 1s linear forwards;
                opacity: 0;
            }
            @keyframes movedown {
                0%
                {
                    opacity: 0;
                    transform: translateY(-30px);
                }
                100%
                {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }

            .container:nth-child(2)
            {
                animation-delay: 1s;
            }
            .container:nth-child(3)
            {
                animation-delay: 2s;
            }
            .container:nth-child(4)
            {
                animation-delay: 3s;
            }
            .container:nth-child(5)
            {
                animation-delay: 4s;
            }
            .container:nth-child(6)
            {
                animation-delay: 5s;
            }


            .textbox
            {
                padding: 20px 30px;
                background-color: #000000;
                position: relative;
                border-radius: 6px;
                font-size: 15px;
            }

            .left-container
            {
                left: 0;
            }
            .right-container
            {
                left: 50%;
            }
            .container img
            {
                position: absolute;
                width: 40px;
                border-radius: 50%;
                right: -20px;
                top: 32px;
                z-index: 10;
            }
            .right-container img
            {
                left: -20px;
            }
            .timeline::after
            {
                content: '';
                position: absolute;
                width: 6px;
                height: 100%;
                background: #fff;
                top: 0;
                left: 50%;
                margin-left: -3px;
                z-index: -1;
                animation: moveline 6s linear forwards;
                
            }
            #pics
            {
              height:5%;
              width: 5%;
            }

            @keyframes moveline {
                0%
                {
                    height: 0;
                }
                100%
                {
                    height: 100%;
                }
            }

            .textbox h2
            {
                font-weight: 600;
            }
            .textbox small
            {
                display: inline-block;
                margin-bottom: 15px;
            }
            .left-container-arrow
            {
                height: 0;
                width: 0;
                position: absolute;
                top: 28px;
                z-index: 1;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-left: 15px solid #fff;
                right: -15px;
            }
            .right-container-arrow
            {
                height: 0;
                width: 0;
                position: absolute;
                top: 28px;
                z-index: 1;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-right: 15px solid #fff;
                left: -15px;
            }
            
        

        /* Responsive */
            @media screen and (max-width:600px) {
                
                .timeline
                {
                    margin: 50px auto;
                }
                .timeline::after
                {
                    left: 31px;
                }
                .container
                {
                    width: 100%;
                    padding-left: 80px;
                    padding-right: 25px;
                }
                .level-4 rectangle img
                {
                  height: 10px;
                }
                .textbox
                {
                    font-size: 13px;
                }
                .textbox small
                {
                    margin-bottom: 10px;
                }
                .right-container
                {
                    left: 0;
                }
                .left-container img , .right-container img
                {
                    left: 10px;
                }
                .left-container-arrow , .right-container-arrow
                {
                    border-right: 15px solid #fff;
                    border-left: 0;
                    left: -15px ;     
                       
                }


            }
        }



#contact {
    padding: 4rem 0;
    text-align: center;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem;
}

.contact-card {
    flex: 1;
    text-align: left;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
}
/* Animation */
/* Basic styles */
.container {
  text-align: center;
}

.section_text_p1, .section_text_p2 {
  margin: 10px 0;
}

/* Typewriter Animation for h1 */
.title_1 {
  overflow: hidden; /* Ensures the text is not visible outside its container */
  border-right: .15em solid rgb(198, 194, 185); /* Cursor blink effect */
  white-space: nowrap; /* Keeps text on a single line */
  margin: 0 auto; /* Centers the text */
  letter-spacing: .10em; /* Adjusts spacing between characters */
  animation: typing 2s steps(20, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
      border-color: transparent;
  }
  20% {
      border-color: rgb(133, 199, 212);
  }
}

/* Scrolling Animation for p */
.container {
  text-align: center;
}

.section_text_p1 {
  margin: 10px 0;
}

.color-change {
  color: #ff6347; 
  margin-top: 1em;/* Start color */
  animation: colorChange 2s infinite alternate;
}

@keyframes colorChange {
  0% {
      color: #47ffe6; /* Start color */
  }
  100% {
      color: #4682b4; /* End color */
  }
}


.submit-button {
    background: linear-gradient(90deg, #6091cc, #8eefc2);
    border: none;
    color: white;
    padding: 1rem 2rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-button:hover {
    background-color: #4f7ebf;
    transform: scale(1.05);
}

.contact-info {
    text-align: left;
    flex: 1;
    max-width: 400px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
}

.contact-icon {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}

.contact-info h2 {
    font-size: 1.5rem;
}

.contact-info a {
    color: #555;
    text-decoration: none;
}

.contact-info a:hover {
    color: rgb(96, 145, 204);
}

/* FOOTER SECTION */

footer {
    padding: 2rem 0;
    text-align: center;
    background-color: #F9F9F7;
}

footer p {
    margin: 0;
}

footer p::before {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}
mobile responsive */
/* Base styles for the button */
.btn_colors {
  background-color: #007bff; /* Example background color */
  color: white;              /* Text color */
  border: none;              /* Remove border */
  border-radius: 5px;        /* Rounded corners */
  padding: 10px 20px;        /* Padding for the button */
  font-size: 16px;           /* Font size */
  cursor: pointer;           /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.btn_colors:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

/* Responsive design for mobile devices */
