/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
#resume {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #resume h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  #resume p {
    margin-bottom: 10px;
  }
 
  /* Projects */





.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
html {
    scroll-behavior: smooth;
}

p {
    color: #555;
}

/* TRANSITION */

a,
.btn {
    transition: color 0.3s ease, background-color 0.3s ease;
}

/* DESKTOP NAV */

.header {
    width: 100%;
    padding: 15px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin: 0 15px;
}

.nav-links {
    list-style: none;
    margin-top: 0;
    font-size: 1.3rem;
}


a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: rgb(96, 145, 204);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(96, 145, 204);
}

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links a:hover {
    color: rgb(96, 145, 204);
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:nth-child(1),
.hamburger-icon span:nth-child(2),
.hamburger-icon span:nth-child(3) {
    transform: none;
}

/* SECTIONS */

main {
    margin-top: 60px;
}

section {
    padding-top: 4vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 85vh;
}

.section_pic_container {
    display: flex;
    height: 475px;
    width: 475px;
    margin: auto 0;
    border-radius: 20%;
    
    
}

.section_text {
    align-self: center;
    text-align: center;
}

.section_text p {
    font-weight: 600;
}

.section_text_p1 {
    text-align: center;
}

.section_text_p2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.title_1 {
    font-size: 3rem;
    text-align: center;
}

.btn_container {
    margin-top: 1.5rem;
    text-align: center;
}

.btn_color {
    background: linear-gradient(90deg, #3c6191, #2aa657);
    border: none;
    color: white;
    padding: 1rem 1rem;
    font-weight: 600;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn_color:hover {
    background-color: #4f7ebf;
    transform: scale(1.05);
}
.btn_colors {
    background: linear-gradient(90deg, #871924, #5694c4);
    border: none;
    color: white;
    padding: 1rem 1rem;
    font-weight: 600;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn_colors:hover {
    background-color: #4f7ebf;
    transform: scale(1.05);
}

/* ABOUT SECTION */

#about {
    padding: 4rem 0;
    text-align: center;
}

.title_2 {
    font-size: 2.5rem;
    position: relative;
}

.title_2::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 3.5px;
    background: linear-gradient(90deg, #6091cc, #2d8173);
    border-radius: 1px;
}

.text_container {
    margin: 2rem auto;
    font-size: medium;
}

.text_container p {
    color: #555;
    line-height: 1.6;
    text-align: left;
}

  
  
  /* LEVEL-1 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-1 {
    width: 50%;
    margin: 0 auto 40px;
    background: var(--level-1);
  }
  
  .level-1::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
  }
  
  
  /* LEVEL-2 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-2-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .level-2-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 25%;
    width: 50%;
    height: 2px;
    background: var(--black);
  }
  
  .level-2-wrapper::after {
    display: none;
    content: "";
    position: absolute;
    left: -20px;
    bottom: -20px;
    width: calc(100% + 20px);
    height: 2px;
    background: var(--black);
  }
  
  .level-2-wrapper li {
    position: relative;
  }
  
  .level-2-wrapper > li::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
  }
  
  .level-2 {
    width: 70%;
    margin: 0 auto 40px;
    background: var(--level-2);
  }
  
  .level-2::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
  }
  
  .level-2::after {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    width: 20px;
    height: 2px;
    background: var(--black);
  }
  
  
  /* LEVEL-3 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-3-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    width: 90%;
    margin: 0 auto;
  }
  
  .level-3-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: calc(25% - 5px);
    width: calc(50% + 10px);
    height: 2px;
    background: var(--black);
  }
  
  .level-3-wrapper > li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 2px;
    height: 20px;
    background: var(--black);
  }
  
  .level-3 {
    margin-bottom: 20px;
    background: var(--level-3);
  }
  
  
  /* LEVEL-4 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-4-wrapper {
    position: relative;
    width: 80%;
    margin-left: auto;
  }
  
  .level-4-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: 2px;
    height: calc(100% + 20px);
    background: var(--black);
  }
  
  .level-4-wrapper li + li {
    margin-top: 20px;
  }
  
  .level-4 {
    font-weight: normal;
    background: var(--level-4);
  }
  
  .level-4::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    width: 20px;
    height: 2px;
    background: var(--black);
  }
  
  
  /* MQ STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media screen and (max-width: 700px) {
    .rectangle {
      padding: 20px 10px;
    }
  
    .level-1,
    .level-2 {
      width: 100%;
    }
  
    .level-1 {
      margin-bottom: 20px;
    }
  
    .level-1::before,
    .level-2-wrapper > li::before {
      display: none;
    }
    
    .level-2-wrapper,
    .level-2-wrapper::after,
    .level-2::after {
      display: block;
    }
  
    .level-2-wrapper {
      width: 90%;
      margin-left: 10%;
    }
  
    .level-2-wrapper::before {
      left: -20px;
      width: 2px;
      height: calc(100% + 40px);
    }
  
    .level-2-wrapper > li:not(:first-child) {
      margin-top: 50px;
    }
  }
  @media (max-width: 600px) {
    logo.btn_colors {
      width: 100%;              /* Full width on small screens */
      padding: 15px;            /* Increased padding for easier touch */
      font-size: 18px;          /* Larger font size for readability */
    }
  }
  
  /* Responsive design for tablets */
  @media (min-width: 601px) and (max-width: 900px) {
    logo.btn_colors {
      width: 100%;              /* Full width on tablets */
      padding: 12px;            /* Adjusted padding */
      font-size: 17px;          /* Slightly larger font size */
    }
  }
  
  
  

/* PROJECTS SECTION */

#projects {
    padding: 4rem 0;
    text-align: center;
}
#myVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire viewport */
  z-index: -1;
}
.details_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3.5rem;
    margin-top: 2rem;
}

.subdetail_container {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1.5rem;
    max-width: 540px;
    text-align: left;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.subdetail_container:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}


#Timeline
{
    *::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    --color: rgba(30, 30, 30);
    --bgColor: rgba(245, 245, 245);
    min-height: 100vh;
    display: grid;
    align-content: center;
    gap: 2rem;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
    color: var(--color);
    background: var(--bgColor);
  }
  ul {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
  }
  ul::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: rgb(0, 0, 0);
    border-radius: calc(var(--line-w) / 2);
  }
  
  /* columns*/
  
  /* row gaps */
  ul li:not(:last-child) {
    margin-bottom: var(--row-gap);
  }
  
  /* card */
  ul li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
  }
  ul li .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);
  
    text-align: center;
    background-color: var(--accent-color);
  
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
  
    display: grid;
    place-content: center;
    position: relative;
  
    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
  }
  /* .title_2 
  {
    background: linear-gradient(#6091cc, #8eefc2);
  } */
  
  /* date flap */
  ul li .date::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;
  
    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
  }
  
  /* circle */
  ul li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--bgColor);
    border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;
  
    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  
  /* title descr */
  ul li .title,
  ul li .descr {
    background: white;
    position: relative;
    padding-inline: 1.5rem;
  }
  ul li .title {
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-weight: 500;
  }
  ul li .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
  }
  
  /* shadows */
  ul li .title::before,
  ul li .descr::before {
    content: "";
    position: absolute;
    width: 90%;
    box-shadow: black;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    height: 0.5rem;
    background: rgb(9, 9, 9);
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
  }
  ul li .title::before {
    bottom: calc(100% + 0.125rem);
  }
  
  ul li .descr::before {
    z-index: -1;
    bottom: 0.25rem;
  }
  
  @media (min-width: 40rem) {
    ul {
      grid-template-columns: 1fr var(--line-w) 1fr;
    }
    ul::before {
      grid-column: 2;
    }
    ul li:nth-child(odd) {
      grid-column: 1;
    }
    ul li:nth-child(even) {
      grid-column: 3;
    }
  
    ul li:nth-child(2) {
      grid-row: 2/4;
    }
  
    ul li:nth-child(odd) .date::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      left: 0;
    }
  
    ul li:nth-child(odd) .date::after {
      transform: translate(-50%, -50%);
      left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }
    ul li:nth-child(odd) .date {
      border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
      
    }
    .section_pic_container
      {
       margin-left: 10%; 
      }
  }
  
  .credits {
    margin-top: 1rem;
    text-align: right;
  }
  .credits a {
    color: var(--color);
  }
  




        /* Responsive */
            @media screen and (max-width:600px) {
                
                .timeline
                {
                    margin: 50px auto;
                }
                .timeline::after
                {
                    left: 31px;
                }
                .container
                {
                    width: 100%;
                    padding-left: 80px;
                    padding-right: 25px;
                }
                .level-4 rectangle img
                {
                  height: 10px;
                }
               
              @keyframes border-animation {
                  0% {
                      border-image-slice: 1; /* Starting position */
                  }
                  100% {
                      border-image-slice: 1.5; /* Animated effect */
                  }
              }
              
              
              @keyframes border-wave {
                  0% {
                      transform: scale(1); /* Original size */
                  }
                  100% {
                      transform: scale(1.05); /* Slightly larger for wave effect */
                  }
              }
              
              
                .textbox
                {
                    font-size: 13px;
                }
                .textbox small
                {
                    margin-bottom: 10px;
                }
                .right-container
                {
                    left: 0;
                }
                .left-container img , .right-container img
                {
                    left: 10px;
                }
                .left-container-arrow , .right-container-arrow
                {
                    border-right: 15px solid #fff;
                    border-left: 0;
                    left: -15px ;     
                       
                }


            }
        }
        @media (max-width: 768px) {
          #video-background {
              position: absolute;
              height: auto;
          }
      }
      @media (max-width: 1024px) {
        #video-background {
            position: absolute;
            height: auto;
        }

      }
      @media (max-width: 768px) {
        #video-background {
            position: absolute;
            height: auto;
        }
      }

/* Typewriter Animation for h1 */
.title_1 {
  overflow: hidden; /* Ensures the text is not visible outside its container */
  border-right: .15em solid rgb(198, 194, 185); /* Cursor blink effect */
  white-space: nowrap; /* Keeps text on a single line */
  margin: 0 auto; /* Centers the text */
  letter-spacing: .10em; /* Adjusts spacing between characters */
  animation: typing 2s steps(20, end), blink-caret .75s step-end infinite;
}
.icon{
  width: 30%;
  height: 30%;
  margin-left: 36%;
}


/* ... rest of social media icon styles ... */

/* .copyright {
    /* Optional: Remove or move to footer */
    


hr {
    border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 1024px) {
  .mine{
  margin-left: 15%;
  }
}

@media screen and (max-width: 600px) {
  .mine{
    margin-left: 15%;
    }
}

@media screen and (max-width: 410px) {
  .mine{
    margin-left: 15%;
    margin-top: 50%;
    }
}
footer {
  position: relative;
  text-align: center;
  width: 130%;
  left: -14%;
  background-color: #7eced8;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Smaller gap for mobile */
  flex-wrap: wrap; /* Allows wrapping */
}

.social-icons a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px; /* Adjusted for smaller screens */
}

.social-icons a:hover {
  color: #007bff;
}

/* Tablet styles */
@media (min-width: 600px) {
  .social-icons a {
    font-size: 20px; /* Slightly larger for tablets */

  }
  
  .social-icons {
    gap: 30px; /* Increased gap for tablets */
  }
}
@media only screen and (max-width: 600px) {
  .social-icons a {
    font-size: 20px; /* Slightly larger for tablets */

  }
  
  .social-icons {
    gap: 30px; /* Increased gap for tablets */
  }
}

/* Larger tablet styles */
@media (min-width: 900px) {
  .social-icons a {
    font-size: 24px; /* Font size for larger tablets */
  }
  
  .social-icons {
    gap: 300px; /* Adjusted gap for larger screens */
  }
}




/* Typewriter Animation for h1 */
.title_1 {
  overflow: hidden; 
  border-right: .15em solid rgb(198, 194, 185); 
  white-space: nowrap; /* Keeps text on a single line */
  margin: 0 auto; /* Centers the text */
  letter-spacing: .10em; /* Adjusts spacing between characters */
  animation: typing 2s steps(20, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
      border-color: transparent;
  }
  20% {
      border-color: rgb(133, 199, 212);
  }
}

/* Scrolling Animation for p */
.container {
  text-align: center;
}

.section_text_p1 {
  margin: 10px 0;
}

.color-change {
  color: #ff6347; 
  margin-top: 1em;/* Start color */
  animation: colorChange 2s infinite alternate;
}

@keyframes colorChange {
  0% {
      color: #056060; /* Start color */
  }
  100% {
      color: #4682b4; /* End color */
  }
}

/* Contact-Us */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:rgb(30,30,40); }
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #2f8c94;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #3c9346; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#428eae;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#5aaed4; }
/* FOOTER SECTION



footer p {
    margin: 0;
}

footer p::before {
    font-size: 1.2rem;
    margin-right: 0.5rem;
} */
/* Skills */



.cont{
  width: 50%;
  margin: 0 auto;
  border-width: 70%;
 

}
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #fefffd;
  font-weight: bold;
  border-color: #056060;
  text-shadow: 1px 1px 1px rgba(73, 142, 185, 0.5);
}
.bar::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}


.bar.back::before{
  background: linear-gradient(90deg, #3c6191, #2aa657);
}


.bar.basic1::before{
  width: calc(80% - 10px);
  
}
.bar.basic2::before{
  width: calc(90% - 10px);
}
.bar.basic3::before{
  width: calc(80% - 10px);
}
.bar.basic4::before{
  width: calc(90% - 10px);
}
.bar.basic5::before{
  width: calc(80% - 10px);
}
.bar.basic6::before{
  width: calc(75% - 10px);
}
.bar.basic7::before{
  width: calc(90% - 10px);
}
.bar.basic8::before{
  width: calc(75% - 10px);
}
